@use '../utils/' as *;
.section-innovative {
  padding-block: rem(200);
  background-color: $pale-blue-white;
  @include breakpoint-desktop(large) {
    padding-block: rem(120);
  }
  @include breakpoint-desktop(medium) {
    padding-block: rem(80);
  }
  &__cards {
    @include grid-col-3;
    @include breakpoint-desktop(medium) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    @include breakpoint-desktop(medium) {
    }

    &-icon-box {
      background-color: $dark-cyan-1;
      align-self: start;
      padding: rem(20);
      box-shadow: $shadow-primary;
      border-radius: rem(5);
    }

    &-icon {
      width: rem(30);
      height: rem(30);
    }

    &-text {
      font-weight: $medium;
      color: $dark-cyan-1;
      line-height: rem(32);
    }
  }
}
