@use '../utils/' as *;
.section-featured {
  padding-block: rem(150);
  background-color: $pale-blue-white;

  @include breakpoint-desktop(large) {
    padding-block: rem(120);
  }

  @include breakpoint-desktop(medium) {
    padding-block: rem(80);
  }

  &__content {
    @include grid-col-2;
    @include grid-v-center;

    @include breakpoint-desktop(medium) {
      grid-template-columns: 1fr;
    }
  }

  &__text-box {
    @include breakpoint-desktop(medium) {
      text-align: center;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
