@use '../utils/' as *;
.btn {
  &:link,
  &:visited,
  & {
    display: inline-block;
    padding: rem(20) rem(25);
    font-weight: $bold;
    border-radius: rem(5);
    cursor: pointer;
  }

  &--primary {
    &:link,
    &:visited {
      background-color: $dark-cyan-2;
      color: $pale-blue-white;
      box-shadow: $shadow-primary;
    }
  }

  &--secondary {
    &:link,
    &:visited {
      color: $primary;
      background-color: $pale-blue;
    }
  }
}

// NAV TOGGLE
.nav-toggle {
  display: none;
  @include breakpoint-desktop(tab) {
    display: block;
    position: absolute;
    z-index: 20;
    top: rem(60);
    right: rem(32);
    border: none;
    width: rem(32);
    aspect-ratio: 1;
    background-image: url(../images/icon-menu.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;

    &[aria-expanded='true'] {
      background-image: url(../images/icon-menu-close.svg);
      position: fixed;
    }
  }
}
